<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>插件展示系统</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        @{Html.RenderPartial("_PluginsHeader"); }
        <div class="row contentRow">
            <div class="col-md-2 leftMenu">
                @{Html.RenderPartial("_PluginsMenu"); }
            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery");
    @Scripts.Render("~/bundles/bootstrap");
    <script src="~/Scripts/Common/PluginsLayout.js"></script>
</body>
</html>
